h1{
    color:brown;
    background-color:burlywood;
}
body{
    background-color: antiquewhite;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
a{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}